html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #000;
  color: #fff;
}
.element {
  background-color: #eee;
}
.alkali-metals {
  background-color: #ffdfb0;
}
.alkaline-earth-metals {
  background-color: #ffcfc8;
}
.lanthanoids {
  background-color: #f8bcff;
}
.actinoids {
  background-color: #c2c1e8;
}
.transition-metals {
  background-color: #b0f2ff;
}
.post-transition-metals {
  background-color: #a2cfff;
}
.metalloids {
  background-color: #bbffe7;
}
.other-nonmetals {
  background-color: #caffaf;
}
.noble-gases {
  background-color: #e8e1b5;
}
.is-not-in-selected-category {
  background-color: #bbb;
}
